<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSSwitchCell</string>
		<key>defaults</key>
		<string>com.aohuiliu.nicephotos</string>
		<key>label</key>
		<string>NicePhotos</string>
		<key>key</key>
		<string>enabled</string>
		<key>default</key>
		<false/>
		<key>PostNotification</key>
		<string>com.aohuiliu.nicephotos/prefschanged</string>
		<key>icon</key>
		<string>/Library/PreferenceLoader/Preferences/NicePhotosPrefs.Resources/icon.png</string>
	</dict>
</dict>
</plist>
